#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.hide {
  transition: 0.5s all ease-in-out;
  height: 0 !important;
  padding-block: 0 !important;
  margin-block: 0 !important;
  border-bottom: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 18px;
  }
/* Track */
::-webkit-scrollbar-track {
  background: #ba0160;
  }
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e10175;
  }
